body {
    height: 100%;
    padding: 0;
    color: rgb(240, 220, 40);
	width: 100%;
	font-family: Comic Sans MS, cursive, serif;
    /* background-color: #328cc1; */
    /* background-color: rgb(50,60,120); */
	background-color: rgb(77, 76, 100);
    background-size: initial;
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    /* background-color: rgba(255, 250, 246, 0.8); */
    margin-top: 0px;
    line-height: 3rem;
    display: block;
    padding-right: 30px;
}
.topnav div {
    text-align: center;
}
.nav {
    float: right;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 5px;
    line-height: 30px;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
    border-bottom: 2px solid transparent;
}
.nav:hover {
    border-bottom: 2px solid rgb(240, 220, 40);
}
.logo {
    font-family: Comic Sans MS, cursive, serif;
    cursor: pointer;
    font-size: 2rem;
    float: left;
    margin: 1rem;
    margin-top:.5rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
    background-image: url("/images/yeetcode_logo.png");
    width:110px;
    height:60px;
    background-size:cover;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
}
.t1 {
    top: 0;
    left: 0;
    border-top: 150px solid #328cc1;
    border-right: 700px solid transparent;
    z-index: -2;
}
.t2 {
    top: 0;
    left: 0;
    border-top: 150px solid rgb(50,60,120);
    border-right: 500px solid transparent;
    z-index: -1;
}
.t3 {
    bottom: 0;
    right: 0;
    border-bottom: 150px solid rgb(50,60,120);
    border-left: 500px solid transparent;
    z-index: -1;
}
.t4 {
    bottom: 0;
    right: 0;
    border-bottom: 150px solid #328cc1;
    border-left: 700px solid transparent;
    z-index: -2;
}

.list{
    margin-left:25%;
    margin-right:25%;
    height: 70%;
    background-color: rgb(215, 238, 225);
    color: rgb(67, 66, 90);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px rgb(240, 220, 40);
        box-shadow: 0 0 2px rgb(240, 220, 40);
}

.challenge 	h1 {
    margin: 0px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(67, 66, 90);
}

.challenge {
    margin: 0 60 0 60;
}

.select {
	margin-left: 400px;
}

#testCases {
	margin-top: 0px;
	color: white;
}

.testCase {
	list-style-type: none;
}

.enclosingCase {
	list-style-type: none;
}

.box {
	list-style-type: none;
}

.submitter{
	margin-left: 400px;
    font-family: Segoe UI;
    border: none;
	font-family: Comic Sans MS, cursive, serif;    
    border-radius: 5px;
    cursor: pointer;
    padding:1em;
    background-color: rgb(77, 76, 100);
    color: rgb(240, 220, 40);
    -webkit-box-shadow: 0 0 2px rgb(240, 220, 40);
        box-shadow: 0 0 2px rgb(240, 220, 40);
}

input {
    border-radius: 5px;
    color: rgb(77, 76, 100);
    -webkit-box-shadow: 0 0 2px rgb(240, 220, 40);
        box-shadow: 0 0 2px rgb(240, 220, 40);
}
input.submitter{
    position: absolute;
    bottom: 110px;
    left: -60px;
    font-size: 12px;
}
.testcase {
    width: 300px;
    border: none;
    font-size: 14px;
    height: 24px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.code {
    overflow: scroll;
    height: 150px;
}
